body {
  margin: 0;
  height: 100vh;
  background: url("https://raw.githubusercontent.com/ihsanalipt7510/CC/main/background.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 220px;
  margin-bottom: 30px;
}

.search {
  width: 450px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  outline: none;
}
